################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinancialAppBackend
Backend
FinancialAppBackend.sln
venv/
__pycache__
.env